h1 a {
    color: #FCA205;
}

body {
    padding-left: 0px;
}

.page-header {
    background-color: #1a53ff;
    margin-top: 0;
    padding: 30px 30px 30px 40px;
    text-align: center;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}
