h1 a {
    color: #FCA205;
}

body {
    padding-left: 0px;
}

.page-header {
    background-color: #00bcd4;
    margin-top: 0;
    padding: 30px 30px 30px 40px;
    text-align: center;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.card-event.mdl-card {
  width:100%;
  margin:0 auto;
  height: 256px;
  background: #fff7e6;
  text_color: #00000;
}
.card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}

.card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}

.card-event > .mdl-card__title,
.card-event > .mdl-card__actions,
.card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}
